PlatafomaServiciosFarmaenlaceMovil/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="cls_Cabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="articulos" nillable="true" type="tns:ArrayOfarticulos" />
      <xs:element minOccurs="0" name="base64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="compania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ctcosto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_plan" type="xs:int" />
      <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oficina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cls_Cabecera" nillable="true" type="tns:cls_Cabecera" />
  <xs:complexType name="ArrayOfarticulos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="articulos" nillable="true" type="tns:articulos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfarticulos" nillable="true" type="tns:ArrayOfarticulos" />
  <xs:complexType name="articulos">
    <xs:sequence>
      <xs:element minOccurs="0" name="barra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coincide" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ingreso" type="xs:int" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="valorconversion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="articulos" nillable="true" type="tns:articulos" />
</xs:schema>