PlatafomaServiciosFarmaenlaceMovil/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Configuracion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Configuracion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2411/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Entidades.bdgeneral" />
  <xs:import schemaLocation="http://localhost:2411/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Configuracion.Librerias" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades.bdgeneral" minOccurs="0" name="List_OFICINA_IP" nillable="true" type="q1:ArrayOfOFICINA_IP" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades.bdgeneral" minOccurs="0" name="OFICINA_IP" nillable="true" type="q2:OFICINA_IP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Configuracion.Librerias" minOccurs="0" name="List_Log" nillable="true" type="q3:ArrayOfLog" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades.bdgeneral" minOccurs="0" name="List_OFICINA_IP" nillable="true" type="q4:ArrayOfOFICINA_IP" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Configuracion.Librerias" minOccurs="0" name="Log" nillable="true" type="q5:Log" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades.bdgeneral" minOccurs="0" name="OFICINA_IP" nillable="true" type="q6:OFICINA_IP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>