Tareas/Connected Services/PlataformaMovilWCF/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2411/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:2411/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Configuracion" />
  <xs:import schemaLocation="http://localhost:2411/Service1.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Servicio.Models" />
  <xs:import schemaLocation="http://localhost:2411/Service1.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Configuracion.Models" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="TestResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ips">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Configuracion" minOccurs="0" name="request" nillable="true" type="q2:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Configuracion" minOccurs="0" name="IpsResult" nillable="true" type="q3:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutentificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipMovil" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipMovil2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutentificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="AutentificarUsuarioResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoPlanificaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoPlanificacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="ListadoPlanificacionesResult" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoArticulosPlanificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_plan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoArticulosPlanificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="ListadoArticulosPlanificacionResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestringirArticulosContar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_plan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestringirArticulosContarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="RestringirArticulosContarResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPlanificacionaContar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_plan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPlanificacionaContarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/Message" name="ActualizarPlanificacionaContarResult" type="q8:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubirConteoInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Servicio.Models" minOccurs="0" name="conteoInventario" nillable="true" type="q9:cls_Cabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubirConteoInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/Message" name="SubirConteoInventarioResult" type="q10:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasosFarmacia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_bodega" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraspasosFarmaciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="TraspasosFarmaciaResult" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleTraspasos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traspaso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodegaOrg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleTraspasosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/Message" name="DetalleTraspasosResult" type="q12:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarArticuloTraspaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_bodega" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarArticuloTraspasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/Message" name="BuscarArticuloTraspasoResult" type="q13:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarTraspasoKardexFarmacia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_bodega" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="traspaso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarTraspasoKardexFarmaciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/Message" name="VerificarTraspasoKardexFarmaciaResult" type="q14:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarKardex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Configuracion.Models" minOccurs="0" name="traspaso" nillable="true" type="q15:Traspaso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarKardexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/Message" name="GenerarKardexResult" type="q16:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagenArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagenArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/Message" name="ImagenArticuloResult" type="q17:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarTemporal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Configuracion.Models" minOccurs="0" name="temporal" nillable="true" type="q18:Temporal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarTemporalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/Message" name="GuardarTemporalResult" type="q19:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTemporal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarTemporalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/Message" name="RecuperarTemporalResult" type="q20:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTemporal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTemporalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/Message" name="EliminarTemporalResult" type="q21:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cookie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Configuracion.Models" minOccurs="0" name="cookie" nillable="true" type="q22:Cookie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CookieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/Message" name="CookieResult" type="q23:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Servidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/Message" name="ServidorResult" type="q24:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/Message" name="VerificarFacturaResult" type="q25:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Digitalizacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitalizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/Message" name="DigitalizacionResult" type="q26:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificacionCajas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bodega" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificacionCajasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/Message" name="VerificacionCajasResult" type="q27:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPendientesVerificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Configuracion.Models" minOccurs="0" name="traspasosModel" nillable="true" type="q28:ArrayOfTraspasoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPendientesVerificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/Message" name="GuardarPendientesVerificacionResult" type="q29:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>